.navigationButton{
    position: relative;
    margin: auto;
    width: 20vw;
    height: 40px;
    background-color: white;
    border-radius: 2cm;
    padding: 5px 5px 5px 5px;
    margin-top: 5px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.navigationButton > p {
    text-align: center;
    vertical-align: middle;
    height: 40px;
}

.navigationButton:hover{
    box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
    transform: translate3d(0px, -1px, 0px);  
}